In [1]:
import importlib
import JeffUtils
importlib.reload(JeffUtils)

data from: https://www.kaggle.com/datasets/abhinav89/telecom-customer?resource=download

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import tqdm 
import matplotlib.pyplot as plt
import math
import scipy
import re

In [2]:
pd.set_option('display.max_columns', None)

In [33]:
RANDOM_SEED = 1337

# Loading Raw Data

In [3]:
raw_data = pd.read_csv('telecomChurn.zip')

In [4]:
raw_data.head(5)

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,change_rev,drop_vce_Mean,drop_dat_Mean,blck_vce_Mean,blck_dat_Mean,unan_vce_Mean,unan_dat_Mean,plcd_vce_Mean,plcd_dat_Mean,recv_vce_Mean,recv_sms_Mean,comp_vce_Mean,comp_dat_Mean,custcare_Mean,ccrndmou_Mean,cc_mou_Mean,inonemin_Mean,threeway_Mean,mou_cvce_Mean,mou_cdat_Mean,mou_rvce_Mean,owylis_vce_Mean,mouowylisv_Mean,iwylis_vce_Mean,mouiwylisv_Mean,peak_vce_Mean,peak_dat_Mean,mou_peav_Mean,mou_pead_Mean,opk_vce_Mean,opk_dat_Mean,mou_opkv_Mean,mou_opkd_Mean,drop_blk_Mean,attempt_Mean,complete_Mean,callfwdv_Mean,callwait_Mean,churn,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,rv,ownrent,lor,dwlltype,marital,adults,infobase,income,numbcars,HHstatin,dwllsize,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,-18.9975,0.666667,0.0,0.666667,0.0,6.333333,0.0,52.333333,0.0,42.333333,0.0,45.000000,0.0,0.000000,0.000000,0.000000,18.000000,0.000000,90.643333,0.0,97.176667,0.000000,0.000000,0.000000,0.000000,58.000000,0.0,132.600000,0.0,24.000000,0.0,55.220000,0.0,1.333333,52.333333,45.000000,0.0,0.333333,1,61,2,1,U,A,N,1652,4228.00000,1504.62,1453.44,4085.00,1602,29.66,83.37,32.69,272,116,30,322.0,136.0,38.0,S,NORTHWEST/ROCKY MOUNTAIN AREA,Y,N,149.98999,2.0,2.0,WCMB,0.0,0.0,O,15.0,S,S,1.0,M,4.0,3.0,C,A,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,50.9875,8.333333,0.0,1.000000,0.0,61.333333,0.0,263.333333,0.0,69.000000,0.0,193.333333,0.0,1.666667,6.333333,5.463333,53.000000,0.333333,189.396667,0.0,55.280000,46.333333,24.216667,6.333333,3.696667,83.666667,0.0,75.333333,0.0,157.000000,0.0,169.343333,0.0,9.333333,263.333333,193.333333,0.0,5.666667,0,56,1,1,N,EA,N,14654,26400.00000,2851.68,2833.88,26367.00,14624,51.53,479.40,265.89,305,158,40,477.0,275.0,48.0,U,CHICAGO AREA,N,N,NaN,7.0,6.0,WC,1.0,1.0,NaN,1.0,S,S,1.0,M,5.0,1.0,C,A,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,0.0000,0.333333,0.0,0.000000,0.0,2.666667,0.0,9.000000,0.0,0.333333,0.0,6.000000,0.0,0.000000,0.000000,0.000000,0.333333,0.000000,5.426667,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.0,5.193333,0.0,1.000000,0.0,0.233333,0.0,0.333333,9.000000,6.000000,0.0,0.000000,1,58,1,1,Y,C,N,7903,24385.05333,2155.91,1934.47,24303.05,7888,34.54,433.98,140.86,12,7,17,11.0,6.0,17.0,S,GREAT LAKES AREA,N,N,29.98999,2.0,1.0,NaN,0.0,0.0,O,7.0,S,M,2.0,M,5.0,2.0,C,A,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,0.0000,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.666667,0.0,1.333333,0.0,3.666667,0.0,0.000000,0.000000,0.000000,1.333333,0.000000,8.410000,0.0,0.413333,0.333333,0.256667,0.000000,0.000000,1.333333,0.0,3.380000,0.0,3.666667,0.0,5.450000,0.0,0.000000,3.666667,3.666667,0.0,0.000000,0,60,1,1,Y,B,N,1502,3065.00000,2000.90,1941.81,3035.00,1479,40.45,63.23,30.81,8,3,38,50.0,25.0,40.0,T,CHICAGO AREA,N,N,29.98999,1.0,1.0,NaN,0.0,0.0,NaN,6.0,M,M,4.0,M,6.0,1.0,C,D,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,0.0000,9.666667,0.0,0.666667,0.0,77.000000,0.0,222.333333,0.0,94.666667,0.0,137.000000,0.0,8.666667,15.000000,11.076667,66.000000,0.000000,285.233333,0.0,106.330000,14.666667,10.816667,0.666667,0.366667,97.333333,0.0,173.476667,0.0,90.333333,0.0,218.086667,0.0,10.333333,222.333333,137.000000,0.0,0.000000,0,57,1,1,Y,A,N,4485,14028.00000,2181.12,2166.48,13965.00,4452,38.69,249.38,79.50,558,191,55,586.0,196.0,80.0,U,NEW ENGLAND AREA,Y,N,149.98999,6.0,4.0,WCMB,0.0,0.0,R,5.0,M,S,1.0,M,6.0,1.0,C,O,0.0,I,U,U,U,U,U,Y,434.0,1000005

## Handling column descriptions

Since there is literally a hundred columns in this dataset, lets take a general look at what kind of data is available.

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import gensim
import spacy

### read-in column descriptions

In [6]:
col_desc = pd.read_json('columnDescriptions.json',orient='index')[0].rename('col_desc').to_frame()

In [7]:
col_desc.head(5)

                                            col_desc
rev_Mean        Mean monthly revenue (charge amount)
mou_Mean       Mean number of monthly minutes of use
totmrc_Mean      Mean total monthly recurring charge
da_Mean      Mean number of directory assisted calls
ovrmou_Mean              Mean overage minutes of use

### Preprocess column descriptions

In [8]:
#Remove stop words
col_desc['clean_desc'] = (
    col_desc['col_desc']
    .apply(gensim.parsing.preprocessing.remove_stopwords)
)
#Remove characters that are not decimals,
#not letters, and not white space
col_desc['clean_desc'] = (
    col_desc['clean_desc']
    .str.replace('[^a-zA-Z0-9_ ]','')
)
#Replace double whitespace with single space
#created from operation above
col_desc['clean_desc'] = (
    col_desc['clean_desc']
    .str.replace('  ',' ')
)

In [9]:
nlp = spacy.load('en_core_web_sm')

In [10]:
#Tokenize words in the cleaned description and lemmatize them
col_desc['tokenized'] = col_desc['clean_desc'].apply(lambda x: [token.lemma_ for token in nlp(x)])
#Join lemmatized tokens back into single string for ease of use
col_desc['lemmatized'] = col_desc['tokenized'].apply(lambda x: ' '.join(x))

In [11]:
col_desc

,col_desc,clean_desc,tokenized,lemmatized
rev_Mean,Mean monthly revenue (charge amount),Mean monthly revenue charge amount,"[mean, monthly, revenue, charge, amount]",mean monthly revenue charge amount
mou_Mean,Mean number of monthly minutes of use,Mean number monthly minutes use,"[mean, number, monthly, minute, use]",mean number monthly minute use
totmrc_Mean,Mean total monthly recurring charge,Mean total monthly recurring charge,"[mean, total, monthly, recur, charge]",mean total monthly recur charge
da_Mean,Mean number of directory assisted calls,Mean number directory assisted calls,"[mean, number, directory, assist, call]",mean number directory assist call
ovrmou_Mean,Mean overage minutes of use,Mean overage minutes use,"[mean, overage, minute, use]",mean overage minute use
...,...,...,...,...
kid11_15,Child 11 - 15 years of age in household,Child 11 15 years age household,"[child, 11, 15, year, age, household]",child 11 15 year age household
kid16_17,Child 16 - 17 years of age in household,Child 16 17 years age household,"[child, 16, 17, year, age, household]",child 16 17 year age household
creditcd,Credit card indicator,Credit card indicator,"[credit, card, indicator]",credit card indicator
eqpdays,Number of days (age) of current equipment,Number days age current equipment,"[number, day, age, current, equipment]",number day age current equipment
Customer_ID,N,N,[n],n

### Bag of words

In [12]:
tokenizedDesc = col_desc['tokenized'].to_list()
dictionary = gensim.corpora.Dictionary(tokenizedDesc)
corpus = [dictionary.doc2bow(text) for text in tokenizedDesc]

### LDA grouping

In [15]:
from gensim.models import CoherenceModel

In [16]:
ldas = []
for n in range(3,16):
    lda = gensim.models.ldamodel.LdaModel(
        corpus, num_topics=n,id2word=dictionary, random_state=RANDOM_SEED
    )
    ldas.append((n,lda))

In [244]:
coher_scores = []
for lda_tup in ldas:
    coher_model = CoherenceModel(model=lda_tup[1], texts=tokenizedDesc, dictionary=dictionary, coherence='c_v')
    coher_scores.append((lda_tup[0],coher_model.get_coherence()))

In [245]:
coher_scores

[(3, 0.5067327030933383),
 (4, 0.5228109088095966),
 (5, 0.4975643925681844),
 (6, 0.484679537033542),
 (7, 0.4777373076042672),
 (8, 0.4800708640499987),
 (9, 0.47900234265635877),
 (10, 0.49272810795529887),
 (11, 0.4838953474770993),
 (12, 0.5076580159522219),
 (13, 0.4988016907739328),
 (14, 0.5153082055690436),
 (15, 0.5053040277667462)]

In [264]:
lda = gensim.models.ldamodel.LdaModel(
    corpus, num_topics=4,id2word=dictionary, random_state=RANDOM_SEED
)

In [265]:
#get table of probabilities for each topic
topics_probs = np.array(lda.get_document_topics(corpus))[:,:,1]

In [269]:
col_desc[col_desc.col_desc.str.contains('household')]

,col_desc,clean_desc,tokenized,lemmatized,topic_ids
uniqsubs,Number of unique subscribers in the household,Number unique subscribers household,"[number, unique, subscriber, household]",number unique subscriber household,13
actvsubs,Number of active subscribers in household,Number active subscribers household,"[number, active, subscriber, household]",number active subscriber household,3
adults,Number of adults in household,Number adults household,"[number, adult, household]",number adult household,11
HHstatin,Premier household status indicator,Premier household status indicator,"[Premier, household, status, indicator]",Premier household status indicator,6
kid0_2,Child 0 - 2 years of age in household,Child 0 2 years age household,"[child, 0, 2, year, age, household]",child 0 2 year age household,2
kid3_5,Child 3 - 5 years of age in household,Child 3 5 years age household,"[child, 3, 5, year, age, household]",child 3 5 year age household,14
kid6_10,Child 6 - 10 years of age in household,Child 6 10 years age household,"[child, 6, 10, year, age, household]",child 6 10 year age household,2
kid11_15,Child 11 - 15 years of age in household,Child 11 15 years age household,"[child, 11, 15, year, age, household]",child 11 15 year age household,9
kid16_17,Child 16 - 17 years of age in household,Child 16 17 years age household,"[child, 16, 17, year, age, household]",child 16 17 year age household,14

In [266]:
topics_probs

array([[0.04209142, 0.86476809, 0.05011833, 0.04302216],
       [0.04429376, 0.04535958, 0.43783519, 0.47251147],
       [0.04237673, 0.044152  , 0.38022074, 0.53325051],
       [0.04316218, 0.87169874, 0.04214286, 0.04299623],
       [0.05065949, 0.31103835, 0.05305242, 0.58524978],
       [0.06349503, 0.80685657, 0.06574827, 0.06390016],
       [0.05177119, 0.84408081, 0.05175211, 0.05239588],
       [0.05058266, 0.84609461, 0.05174812, 0.05157458],
       [0.05232098, 0.84490412, 0.05071569, 0.05205928],
       [0.02501404, 0.02505334, 0.92431378, 0.02561887],
       [0.02779425, 0.02798015, 0.91642338, 0.02780216],
       [0.03751224, 0.88906634, 0.03604035, 0.03738106],
       [0.03685168, 0.89011019, 0.03603939, 0.03699872],
       [0.03757391, 0.88900423, 0.03604051, 0.03738138],
       [0.03687564, 0.89008695, 0.03603949, 0.03699793],
       [0.8678956 , 0.044847  , 0.04221397, 0.04504346],
       [0.37689289, 0.5350585 , 0.04219442, 0.04585423],
       [0.03734506, 0.88923651, 0.03604146, 0.03737701],
       [0.03671419, 0.89024305, 0.03604052, 0.03700226],
       [0.04625477, 0.04716975, 0.04290544, 0.86366999],
       [0.05478586, 0.05595833, 0.05169162, 0.83756417],
       [0.86800575, 0.04485559, 0.04221008, 0.04492856],
       [0.86981523, 0.04415363, 0.04221302, 0.04381816],
       [0.04314524, 0.86567068, 0.04531445, 0.0458696 ],
       [0.0317062 , 0.0323339 , 0.03310255, 0.9028573 ],
       [0.02530503, 0.02566297, 0.02679596, 0.92223608],
       [0.04613999, 0.04616171, 0.04331684, 0.86438149],
       [0.05232002, 0.84490508, 0.05071594, 0.05205891],
       [0.03274666, 0.03207904, 0.0317414 , 0.90343291],
       [0.03242422, 0.0322871 , 0.0317417 , 0.90354699],
       [0.03194709, 0.03207301, 0.03173999, 0.90423995],
       [0.03332181, 0.46710402, 0.03159019, 0.46798399],
       [0.0258489 , 0.02606556, 0.02529475, 0.92279077],
       [0.62471062, 0.1250865 , 0.12507339, 0.12512951],
       [0.02555244, 0.02573396, 0.02529985, 0.92341375],
       [0.69888741, 0.03341325, 0.03157141, 0.23612796],
       [0.04453639, 0.86709404, 0.04213765, 0.04623196],
       [0.03217506, 0.03221281, 0.0317274 , 0.90388471],
       [0.03189917, 0.03242559, 0.03172759, 0.90394765],
       [0.04644117, 0.1558834 , 0.04268991, 0.75498551],
       [0.04453053, 0.8670972 , 0.04213648, 0.04623575],
       [0.03218016, 0.0322118 , 0.03172725, 0.90388077],
       [0.03189831, 0.03243109, 0.03172738, 0.90394324],
       [0.04360947, 0.87129623, 0.04212925, 0.04296503],
       [0.05229696, 0.84494555, 0.05070337, 0.05205407],
       [0.84155047, 0.0541334 , 0.05083404, 0.05348204],
       [0.05232342, 0.84488684, 0.05071573, 0.05207402],
       [0.84212679, 0.05414883, 0.05084055, 0.05288387],
       [0.03579353, 0.89230669, 0.0361314 , 0.03576836],
       [0.05183813, 0.05193682, 0.84565067, 0.05057437],
       [0.0522576 , 0.05315688, 0.84410411, 0.05048148],
       [0.05226284, 0.05321711, 0.84403676, 0.05048329],
       [0.05010328, 0.05005698, 0.84976971, 0.05007005],
       [0.0648895 , 0.06255874, 0.06255874, 0.80999303],
       [0.06262614, 0.06256768, 0.06256918, 0.81223696],
       [0.04537844, 0.04720609, 0.86225748, 0.04515801],
       [0.04168357, 0.04188947, 0.87241715, 0.04400976],
       [0.08337475, 0.08533935, 0.74757755, 0.08370835],
       [0.03573356, 0.0361194 , 0.89222604, 0.03592102],
       [0.03126583, 0.03137052, 0.90492582, 0.0324378 ],
       [0.03300159, 0.03364249, 0.90040368, 0.03295227],
       [0.04168224, 0.04237947, 0.87407106, 0.04186721],
       [0.03572727, 0.03596468, 0.89101386, 0.03729418],
       [0.03816039, 0.03936635, 0.88448232, 0.03799095],
       [0.03572649, 0.03582039, 0.89131123, 0.03714183],
       [0.0381645 , 0.03905175, 0.88497782, 0.03780592],
       [0.04168113, 0.0421572 , 0.87445307, 0.04170864],
       [0.03572649, 0.03582038, 0.89132965, 0.03712349],
       [0.03816074, 0.03907249, 0.88496083, 0.03780595],
       [0.04168114, 0.04215685, 0.87445337, 0.04170864],
       [0.06262201, 0.06256784, 0.06256916, 0.81224096],
       [0.08357058, 0.74947006, 0.0834611 , 0.0834983 ],
       [0.12548253, 0.62391514, 0.12528718, 0.12531516],
       [0.06263187, 0.06256888, 0.81221062, 0.06258863],
       [0.06260587, 0.06319319, 0.81162953, 0.06257145],
       [0.06770731, 0.80200452, 0.06734873, 0.06293943],
       [0.80877537, 0.0650801 , 0.06322611, 0.06291842],
       [0.06263422, 0.06321412, 0.81156218, 0.06258945],
       [0.74357897, 0.08750127, 0.08341186, 0.08550791],
       [0.08603137, 0.74540859, 0.08343291, 0.08512708],
       [0.81158495, 0.06330772, 0.06254784, 0.06255949],
       [0.08356652, 0.74948192, 0.08345836, 0.08349314],
       [0.81235141, 0.06254517, 0.06254551, 0.06255791],
       [0.74977714, 0.08340137, 0.0834025 , 0.08341895],
       [0.79859078, 0.07025183, 0.0682263 , 0.06293108],
       [0.74977398, 0.08340193, 0.083404  , 0.0834201 ],
       [0.08355431, 0.74950206, 0.08346025, 0.08348338],
       [0.06402612, 0.80983573, 0.06321116, 0.06292702],
       [0.05314067, 0.84545887, 0.05088501, 0.05051544],
       [0.74977535, 0.08340166, 0.0834031 , 0.08341989],
       [0.84988403, 0.05003568, 0.05003569, 0.05004463],
       [0.81139153, 0.06254771, 0.06254756, 0.06351322],
       [0.03589978, 0.89118713, 0.03716772, 0.03574533],
       [0.03589994, 0.89120877, 0.0371456 , 0.03574569],
       [0.03590035, 0.89120752, 0.03714644, 0.03574573],
       [0.03590481, 0.03819241, 0.89015371, 0.03574905],
       [0.0359049 , 0.03823387, 0.89011204, 0.03574914],
       [0.06473209, 0.06529052, 0.06256487, 0.80741251],
       [0.04286457, 0.04447098, 0.87066847, 0.04199596],
       [0.62471044, 0.12508652, 0.12507339, 0.1251296 ]])

The topics_probs table looks akin to below: 
\begin{bmatrix} text_1\ topic_1\ probability & ... & text_1\ topic_n\ probability \\ \vdots & \ddots & \vdots \\ text_n\ topic_1\ probability & ... & text_n\ topic_n\ probability \end{bmatrix}

Where each text is the description of our column name, topic being a topic found by our LDA model, and probability being the probability that the text belongs to the topic

In [256]:
topic_ids = (
    np.hstack([
        np.where(topics_probs>0.75,topics_probs,-1), #turn probabilities <0.5 into -1
        np.zeros((topics_probs.shape[0],1)) #add a column of 0s for outliers
    ])
    .argmax(1) #since each column represents a topic created by LDA (or column representing outliers), 
                #get column with maximum probability, to yield topic each row most likely belongs to
)
col_desc['topic_ids'] = topic_ids

In [257]:
col_desc['topic_ids'].value_counts()

14    21
8     12
1     10
13     8
11     8
10     8
12     5
7      5
5      5
0      5
6      4
2      4
4      3
9      1
3      1
Name: topic_ids, dtype: int64

In [263]:
col_desc[col_desc['topic_ids']==4]

,col_desc,clean_desc,tokenized,lemmatized,topic_ids
totmrc_Mean,Mean total monthly recurring charge,Mean total monthly recurring charge,"[mean, total, monthly, recur, charge]",mean total monthly recur charge,4
threeway_Mean,Mean number of three way calls,Mean number way calls,"[mean, number, way, call]",mean number way call,4
months,Total number of months in service,Total number months service,"[total, number, month, service]",total number month service,4